services:
  - type: web
    name: cms-backend
    runtime: node
    plan: free
    buildCommand: npm install --production && npm run build
    startCommand: NODE_OPTIONS='--max-old-space-size=460' npm run start:prod
    envVars:
      - key: PORT
        value: 10000
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
      - key: R2_ENDPOINT
        sync: false
      - key: R2_ACCESS_KEY_ID
        sync: false
      - key: R2_SECRET_ACCESS_KEY
        sync: false
      - key: R2_BUCKET_NAME
        sync: false
      - key: FRONTEND_URL
        sync: false
